.to {
  color: #f5f5f5;
  position: absolute;
  left: 38%;
  top: 37%;
 
  font-size: 78px;
}
.yo{
  color: rgb(255, 255, 255);
  position: absolute;
  left: 38%;
  top: 57%;
  font-size: 32px;
}
.po{
  color: rgb(245, 245, 245);
  position: absolute;
  left: 53%;
  top: 57%;
  font-size: 32px;
}
body{
  background-color:black;
}

.io{
  text-decoration: none;
  color: rgb(246, 246, 246);
}
.uo{
  color: #f5f5f5;
  position: absolute;
  left: 38%;
  top: 37%;
 
  font-size: 78px;
}
.im{
  position: absolute;
  left: 43%;
  top: 13%;
  width: 173px;
}

